@font-face {
    font-family: euro35;
    src: url('../fonts/eurof35.ttf');
}

@font-face {
    font-family: lato;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: lato-bold;
    src: url('../fonts/Lato-Bold.ttf');
}