@import 'socialBtns.css';
@import 'navBar.css';
@import 'fontFace.css';
@import 'mediaQuery.css';
* {
    box-sizing: border-box;
}

html {
    color: #606060;
    font-family: 'lato', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

header {
    height: 130px;
    color: white;
    transition: all .3s;
}

h2 {
    margin: 0;
    color: #4f4e4e;
    font-family: 'lato-bold', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.top-bar {
    background-color: #292929;
    box-shadow: inset 0 -5px 0 #1e1e1e;
}

.active {
    box-shadow: inset 0 -5px 0 #58c93a;
}

.logo {
    text-transform: capitalize;
    font-family: euro35;
    padding: 25px;
    font-size: 40px;
    letter-spacing: -0.8px;
}

.logo::after {
    content: ".";
    color: #58c93a;
}

button.menu-resp-btn {
    display: none;
    background-color: transparent;
    color: white;
    border-width: 0;
    cursor: pointer;
    font-size: 1.7em;
}

#nav-menu.open {
    transform: translate(-5%, 0);
}

main {
    padding-top: 50px;
    border: 1px solid #e1e0e0;
    border-bottom: 0px;
}

main li img {
    max-width: 460px;
    padding: 20px;
}

.blog-item {
    padding: 20px;
}

.blog-item p {
    margin: 0px;
    letter-spacing: .48px;
}

.btn-read {
    cursor: pointer;
    width: 185px;
    height: 40px;
    position: relative;
    color: #c2c2c2;
    background-color: #ffffff;
    border: 2px solid #c2c2c2;
    border-radius: 20px;
    padding: 0;
    transition: all .4s;
}

.btn-read:hover::after {
    content: '→';
    position: absolute;
    right: 15px;
}

a>.btn-read:hover {
    padding: 0px 30px 0px 0px;
    color: #58c93a;
    border: 2px solid #58c93a;
    width: 210px;
}

.page-nav {
    padding: 25px;
    border-top: 1px solid #e1e0e0;
    font-family: Lato-bold;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.page-nav>a {
    color: #818181;
}

.prev-link::before {
    content: '←';
    margin-right: 10px;
    position: relative;
    bottom: 3px;
}

.prev-link:hover {
    color: #58c93a;
}

.next-link::after {
    content: '→';
    margin-left: 10px;
    position: relative;
    bottom: 3px;
}

.next-link:hover {
    color: #58c93a;
}

footer {
    border-top: 1px solid #e1e0e0;
    background-color: #f8f8f8;
    color: #939292;
}

footer h1.logo {
    margin-top: 80px;
    color: #292929;
}

div.modal-container {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #606060af;
    z-index: 1;
}

.modal {
    color: #4f4e4e;
    background-color: white;
    height: 300px;
    position: fixed;
    /* left: 20vw; */
    padding: 25px;
    top: 15vw;
    z-index: 2;
}

.modal-title h1 {
    margin: 0;
}

.mail-sumbit {
    margin: 15px;
}

.modal-title span {
    cursor: pointer;
    color: red;
    order: 1;
    font-size: 3em;
    align-self: flex-start;
}

div.show-modal {
    display: flex;
}

li.journal-drop-down {
    position: relative;
}

li.journal-drop-down:hover>div.drop-down-menu {
    /* position: absolute; */
    display: block;
    /* z-index: 100;
    background-color: #292929;
    height: 50vh;
    padding: 15px; */
}

div.drop-down-menu {
    z-index: 1;
    position: absolute;
    display: none;
    background-color: #292929;
    height: 50vh;
    padding: 15px;
    /* top: 110px; */
    /* margin: -10px; */
}

div.drop-down-menu a li {
    box-shadow: none;
    border-right: none;
    color: white;
    padding: 15px 5px;
}

div.drop-down-menu ul a li:hover {
    color: #58c93a;
}

/* Helpers */

.container {
    max-width: 980px;
    margin: 0 auto;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.just-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-even {
    justify-content: space-evenly;
}

.no-decor {
    text-decoration: none;
}

.base-padding {
    padding: 20px;
}

/* .hidden {
    display: none;
 } */