@media (max-width: 740px) {
    .top-bar header {
        height: 100px;
    }
    header ul>li {
        width: 100px;
    }
    main>ul>li {
        flex-flow: column;
    }
    main>ul>li>img {
        align-self: center;
    }
    main>ul>li>.blog-item {
        max-width: 460px;
        align-self: center;
        padding-top: 0px;
    }
    main p {
        padding-top: 20px;
    }
    main a {
        margin: 15px auto 0px;
    }
    .modal-container .modal {
        width: 90vw;
    }
}

@media (max-width: 560px) {
    .top-bar header {
        height: 80px;
    }
    header button.menu-resp-btn {
        display: block;
        order: 1;
    }
    header #nav-menu {
        position: fixed;
        top: 135px;
        right: 0;
        flex-direction: column;
        transform: translate(101%, 0);
        transition: all .8s;
    }
    header ul li {
        margin-bottom: 10px;
        box-shadow: none;
        width: 90vw;
        font-size: 1.8em;
        background-color: #4f4e4e;
        border: 2px solid #1da1f2;
    }
    header ul li:hover {
        color: #58c93a;
        border: none;
    }
    header ul li:last-child {
        border-right: 2px solid #1da1f2;
    }
    header ul li a {
        padding: 20px;
    }
    main ul li img {
        max-width: 100%;
    }
    .modal-container {
        background-color: #d6cfcfcc;
        width: 100vw;
        height: 100vh;
        position: fixed;
    }
    .modal-container .modal {
        background-color: white;
        top: 30vh;
        width: 90vw;
    }
    li a.active {
        box-shadow: none;
    }
    li.journal-drop-down:hover>div.drop-down-menu {
        background-color: transparent;
        font-size: .4em;
    }
    li.journal-drop-down:hover header>ul>li {
        display:none;
}