header ul {
    height: 100%;
}

header ul li {
    width: 130px;
    box-shadow: -1px 0 0 #1d1d1d;
    text-transform: capitalize;
}

header ul li:last-child {
    border-right: 1px solid #1d1d1d;
}

header ul li:hover {
    border-left: 1px solid #1d1d1d;
    box-shadow: inset 0 -5px 0 #58c93a;
}

header ul>li>a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

header ul>li:active {
    box-shadow: inset 0 -5px 0 #58c93a;
}